.vs/
.vsconfig
Assembly-CSharp.csproj
Assets/Prefabs/Enemy.prefab
Assets/Prefabs/Enemy.prefab.meta
Assets/Scripts/EnemyController.cs
Assets/Scripts/EnemyController.cs.meta
Bootstrap.csproj
Build/
Coop-Shooter.sln
InitCodeMarker
Library/
Logs/
UIElementsSchema/
Unity.Netcode.Components.csproj
Unity.Netcode.Editor.CodeGen.csproj
Unity.Netcode.Editor.PackageChecker.csproj
Unity.Netcode.Editor.csproj
Unity.Netcode.EditorTests.csproj
Unity.Netcode.Runtime.csproj
Unity.Netcode.RuntimeTests.csproj
Unity.Netcode.TestHelpers.Runtime.csproj
UserSettings/
obj/
